/* CSS Reset snippet*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  border-width: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
body {
  line-height: 1;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*//////////////////////////////////////*/



body {
  line-height: 1;
  background-image: url('back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}


img[src="logo_large.png"] {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-fit: contain;
}

h2{
  color:white;
  background-color: #2f3031;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#menuBar {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  background: #2f3031;
   margin-top: 20px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  background-color:  #2f3031;
  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
  background-color: #2f3031;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #000000c2;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2f3031;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: #2f3031;
  color: white;
  text-decoration: none;
  padding: 12px 30px;
  display: block;
}

#chordBox{
  display: inline-flex;
  background-color:#2f3031;
  position: relative;
  font-size: 16px;
  text-align: center;
  margin-inline-start: 10px;
  color: white;
  align-content: center;
  align-items: center;
}

#innerChordBox{
  background-color: #424344;
  width: fit-content;
  min-width: 60px;
  min-height: 40px;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  align-items: center;
}

#chordValue{
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.menubtn{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline-start: 10px;
  background-color: rgb(46, 46, 46);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
  border-color: rgb(59, 59, 59);
}

#chordProgressionBox{
  position: relative;
  display: inline-flex;
  min-width:250px;
  width: fit-content;
  min-height: 40px;
  margin-inline-start: 100px;
  padding-inline: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  background-color: #424344;
}
#generateBtn{
  background-color: darkgreen;
  margin-inline-start: 100px;
}

.dropdown-content a:hover {background-color: #000000c2;}

.show {display:block;}




